H1{
    text-align: center;
    background-color: rgb(73, 73, 240);
}
.PH14{
    text-align: left;
    background-color: rgb(28, 28, 49);
    margin: 0%;
    color: white;
}
.PH13{
    text-align: left;
    background-color: rgb(58, 58, 97);
    margin: 0%;
    color: white;
}
.PH12{
    text-align: left;
    background-color: rgb(80, 80, 139);
    margin: 0%;
    color: white;
}
.PH11{
    text-align: left;
    background-color: rgb(90, 90, 161);
    margin: 0%;
    color: white;
}
.PH10{
    text-align: left;
    background-color: rgb(100, 100, 175);
    margin: 0%;
    color: white;
}
.PH09{
    text-align: left;
    background-color: rgb(60, 128, 19);
    margin: 0%;
    color: white;
}
.PH08{
    text-align: left;
    background-color: rgb(27, 177, 34);
    margin: 0%;
    color: white;
}
.PH07{
    text-align: left;
    background-color: rgb(122, 250, 47);
    margin: 0%;
    color: white;
}
.PH06{
    text-align: left;
    background-color: rgb(198, 252, 51);
    margin: 0%;
    color: white;
}
.PH05{
    text-align: left;
    background-color: rgb(255, 165, 30);
    margin: 0%;
    color: white;
}
.PH04{
    text-align: left;
    background-color: rgb(255, 65, 40);
    margin: 0%;
    color: white;
}
.PH03{
    text-align: left;
    background-color: rgb(255, 70, 24);
    margin: 0%;
    color: white;
}
.PH02{
    text-align: left;
    background-color: rgb(238, 45, 39);
    margin: 0%;
    color: white;
}
.PH01{
    text-align: left;
    background-color: rgb(201, 28, 22);
    margin: 0%;
    color: white;
}